<%= render 'layouts/notice' %>
<div class="col-xs-12">
<p>
  <strong><%= @task.description %></strong>
</p>
<hr>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at.getlocal.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong>Task list:</strong>
  <%= @task.task_list.name %>
</p>

<p>
  <strong>Type of task:</strong>
  <%= @task.type_taks %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority.humanize %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status_task.humanize %>
</p>

<% if @task.type == "LongTask" %>
<p>


<div class="text-xs " id="example-caption-2">Percentage of completion: <%= @task.percentage_of_completion %>%</div>
<progress class="progress progress-primary" value=<%= @task.percentage_of_completion %> max="100" aria-describedby="example-caption-2"></progress>
</p>
<% end %>

<% if @task.type == "TemporaryTask" %>

<p>
  <strong>Start at:</strong>
  <%= @task.start_at.getlocal.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong>End at:</strong>
  <%= @task.end_at.getlocal.strftime("%d/%m/%Y - %H:%M") %>
</p>

<% end %>
<hr>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', @task.task_list %>
</div>
