<%= render 'layouts/notice' %>
<div class="col-xs-12">
<p>
  <strong><%= @task.description %></strong>
</p>
<hr>

<p>
  <strong><%= t 'task.created_at'%>:</strong>
  <%= l @task.created_at.getlocal, format: :long %>
</p>

<p>
  <strong><%= t 'task.task_list'%>:</strong>
  <%= link_to @task.task_list.name, @task.task_list %>
</p>

<p>
  <strong><%= t 'task.type_of_task'%>:</strong>
  <%= @task.type_taks %>
</p>

<p>
  <strong><%= t 'task.priority.priority'%>:</strong>
  <%= @task.priority.humanize %>
</p>

<p>
  <strong><%= t 'task.status.status'%>:</strong>
  <%= @task.status.humanize %>
</p>

<% if @task.type == "LongTask" %>
<div class="text-xs " id="example-caption-2"><%= t 'task.percentage_of_completion'%>: <%= @task.percentage_of_completion %> %</div>
<progress class="progress progress-primary" style="max-width: 720px;" value=<%= @task.percentage_of_completion %> max="100" ></progress>
<% end %>

<% if @task.type == "TemporaryTask" %>

<p>
  <strong><%= t 'task.start_at'%>:</strong>
  <%= l @task.start_at.getlocal, format: :long %>
</p>

<p>
  <strong><%= t 'task.end_at'%>:</strong>
  <%= l @task.end_at.getlocal, format: :long %>
</p>

<% end %>
<hr>
<%= link_to t('application.edit'), edit_task_path(@task) %> |
<%= link_to t('application.back'), @task.task_list %>
</div>
