<%= render 'layouts/notice' %>

<p>
  <strong><%= @task.description %></strong>
</p>
<hr>
<p>
  <strong>Task list:</strong>
  <%= @task.task_list.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status_task %>
</p>

<% if @task.type == "LongTask" %>
<p>
  <strong>Percentage of completion:</strong>
  <%= @task.percentage_of_completion %>
</p>
<% end %>

<% if @task.type == "TemporaryTask" %>

<p>
  <strong>Start at:</strong>
  <%= @task.start_at.getlocal.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong>End at:</strong>
  <%= @task.end_at.getlocal.strftime("%d/%m/%Y - %H:%M") %>
</p>

<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', @task.task_list %>
