<%= form_for(task_list, html: { class: 'form-horizontal' }) do |f| %>
  <% if task_list.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= pluralize(task_list.errors.count, "error") %></strong> prohibited this task_list from being saved:
      <ul>
      <% task_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>


<% end %>


  <div class="center_text">
      <%= f.text_field :name , placeholder: t('task_list.new.placeholder'), class: "form-control input-lg", :required => true %>
  </div>
<br>
  <div class="actions center_text">
    <%= f.submit t('task_list.new.submit'), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<% unless @last_list_tasks.nil? ||  @last_list_tasks.empty? %>
<%= render 'last_list_tasks' %>
<% end %>
