<%= render 'layouts/notice' %>
<% unless @task_lists.nil? or @task_lists.empty? %>
<h3>All my task lists:</h3>

<div class="table-responsive">
<table class="table table-sm" >
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_lists.each do |task_list| %>
      <tr>
        <td><%= task_list.name %></td>
        <td><%= task_list.tasks.count%></td>
        <td><%= link_to 'Details', task_list %></td>
        <td><%= link_to 'Edit', edit_task_list_path(task_list) %></td>
        <td><%= link_to 'Delete', task_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <div class="alert alert-warning" role="alert">
    <strong>No tasks list in this session!</strong> Clic in "New Task List" to create one</a>.
  </div>
<%end %>
<br>
<%= link_to 'New Task List', root_url %>
