<%= render 'layouts/notice' %>
<% unless @task_lists.nil? or @task_lists.empty? %>
<h3><%= t('application.all_my_task_list')%>:</h3>

<div class="table-responsive">
<table class="table table-sm" >
  <thead class="thead-default">
    <tr>
      <th><%= t 'task_list.name'%></th>
      <th style="width: 10%;"><%= t 'task_list.created_at'%></th>
      <th style="width: 10%;"><%= t 'task_list.modified_at'%></th>
      <th class="center_text" style="width: 8%;"><%=t('task_list.tasks')%></th>
      <th colspan="2" style="width: 5%;"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_lists.each do |task_list| %>
      <tr>
        <td><%= link_to task_list.name, task_list %></td>
        <td><%= l task_list.created_at.getlocal.to_date, format: :short %></td>
        <td><%= l task_list.updated_at.getlocal.to_date, format: :short %></td>
        <td class="center_text"><%= task_list.tasks.count%></td>
        <td><%= link_to t('application.edit'), edit_task_list_path(task_list) %></td>
        <td><%= link_to t('application.delete'), task_list, method: :delete, data: { confirm: t('application.confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <div class="alert alert-warning" role="alert">
    <strong>No tasks list in this session!</strong> Clic in "New Task List" to create one.
  </div>
<%end %>
<br>
<%= link_to t('task_list.new.tittle'), root_url %>
