

  <h3><strong><%= @task_list.name %></strong></h3>


<p>
<strong><%= t 'task_list.created_at'%>: </strong>
<%= l @task_list.created_at.getlocal, format: :short %>
 -
<strong><%= t 'task_list.modified_at'%>: </strong>
<%= l @task_list.updated_at.getlocal, format: :short %>
</p>
<%= link_to t('application.edit'), edit_task_list_path(@task_list) %> |
<%= link_to t('application.back'), task_lists_path %> |
<%= link_to t('application.delete'), @task_list, method: :delete, data: { confirm: t('application.confirmation') } %>

<hr>

<div style="float: right;">
<%= link_to t('application.new_task'), new_task_list_task_path(@task_list, @task, locale: I18n.locale), method: :get, class: 'btn btn-outline-primary'%>
</div>

<% if @task_list.tasks.empty? %>
<br><br>
  <div class="alert alert-success" role="alert">

  <strong><%=t('task_list.no_tasks')%></strong> <%=t('task_list.no_tasks_text')%> <%=t('application.new_task')%>
</div>
<% else %>
<%= render 'tasks' %>
<% end %>
<%= render 'layouts/notice' %>
