<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Task list:</strong>
  <%= @task_list.name %></h2>
</p>

<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
<br>
<% if @task_list.tasks.empty? %>
  <strong>No tasks</strong>
<% else %>

<%= render 'tasks' %>
<% end %>
